In [1]:
import yfinance as yf

# Data needed

AttributeError: module 'yfinance' has no attribute 'tickers_sp500'

In [39]:
# df = yf.download(tickers=['TSLA'], auto_adjust=False)

# df = yf.download(["TSLA"], start="2025-11-01", auto_adjust=False)['Adj Close']
tickers = ["AAPL", "MSFT", "GOOGL", "TSLA"]
df = yf.download(tickers=tickers, start="2025-11-01", auto_adjust=False)['Adj Close']
returns = df.pct_change().dropna()
returns

[*********************100%***********************]  4 of 4 completed

Ticker          AAPL     GOOGL      MSFT      TSLA
Date
2025-11-04  0.003680 -0.021782 -0.005222 -0.051476
2025-11-05  0.000370  0.024393 -0.013941  0.040089
2025-11-06 -0.001370  0.001548 -0.019836 -0.034973
2025-11-07 -0.004819 -0.020790 -0.000563 -0.036756
2025-11-10  0.004549  0.040419  0.018477  0.036576
2025-11-11  0.021601  0.004171  0.005296 -0.012600
2025-11-12 -0.006467 -0.015791  0.004836 -0.020518
2025-11-13 -0.001901 -0.028391 -0.015358 -0.066442
2025-11-14 -0.001978 -0.007754  0.013690  0.005871
2025-11-17 -0.018171  0.031149 -0.005273  0.011302
2025-11-18 -0.000075 -0.002596 -0.026996 -0.018757
2025-11-19  0.004188  0.030006 -0.013508  0.006829
2025-11-20 -0.008601 -0.011475 -0.016001 -0.021684
2025-11-21  0.019681  0.035274 -0.013189 -0.010475
2025-11-24  0.016317  0.063138  0.003982  0.068245
2025-11-25  0.003805  0.015255  0.006308  0.003878
2025-11-26  0.002094 -0.010790  0.017841  0.017120
2025-11-28  0.004684  0.000719  0.013409  0.008416
2025-12-01  0.015241 -0.016522 -0.010711 -0.000070
2025-12-02  0.010915  0.002922  0.006698 -0.002092
2025-12-03 -0.007128  0.012096 -0.025041  0.040770
2025-12-04 -0.012141 -0.006289  0.006510  0.017437
2025-12-05 -0.006840  0.011492  0.004825  0.001034
2025-12-08 -0.003192 -0.022862  0.016268 -0.033890
2025-12-09 -0.002555  0.010710  0.002037  0.012717
2025-12-10  0.005772  0.009871 -0.027357  0.014107
2025-12-11 -0.002690 -0.024297  0.010260 -0.010101
2025-12-12  0.000899 -0.010050 -0.010218  0.027009
2025-12-15 -0.014985 -0.003460 -0.007753  0.035624
2025-12-16  0.001824 -0.005353  0.003307  0.030654

In [41]:
# Calculate covariance matrix
sigma = returns.cov()
sigma

Ticker      AAPL     GOOGL      MSFT      TSLA
Ticker
AAPL    0.000088  0.000059  0.000006  0.000012
GOOGL   0.000059  0.000472 -0.000016  0.000415
MSFT    0.000006 -0.000016  0.000183  0.000047
TSLA    0.000012  0.000415  0.000047  0.000888